.Slider_Base {
    margin: 20px;
}

.Slider_Slider {
    font-size: 1.5em;
    margin-top: 55px;
    margin-bottom: 5px;
    text-align: center;
}

.Slider_Slider {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.Slider_GivenScore {
    font-size: 1.5em;
}

.Slider_SliderWrapper {
    width: 70%;
}

.Slider_Saved {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: translateY(3px);
    background-color: green;
}

.Slider_NotSaved {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transform: translateY(3px);
    background-color: red;
}