.ReviewScore_Base {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .Category {
    margin-bottom: 40px;
    .Name {
      text-align: center;
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}

