.EventDetail_Base {
  .Header {
    display: flex;
    flex-direction: column;
    .Title {
      font-size: 1.5em;
      margin: 10px;
      text-align: center;
    }
    .LogoutButton {
      margin: 10px 20px;
    }
  }
}
