.Slider_Base {

    .Slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .GivenScore {
        font-size: 25px;
    }

    .SliderWrapper {
        width: 70%;
    }

    .Saved {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        transform: translateY(3px);
        background-color: green;
    }

    .NotSaved {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        transform: translateY(3px);
        background-color: red;
    }
}

