.Slider_Base {

    .Slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .GivenScore {
        font-size: 25px;
    }

    .SliderWrapper {
        width: 70%;
    }

    .StatusIcon {
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }

    .Saved {
      background-color: green;
    }

    .NotSaved {
      background-color: red;
    }

    .NoScore {
      background-color: yellow;
    }
}

